<a href="https://colab.research.google.com/github/jaimebaldeon/FNS-2020/blob/master/financialStocks_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# prueba investpy
!pip install git+https://github.com/alvarobartt/investpy.git@developer
import investpy

Collecting git+https://github.com/alvarobartt/investpy.git@developer
  Cloning https://github.com/alvarobartt/investpy.git (to revision developer) to /tmp/pip-req-build-s6bpcvim
  Running command git clone -q https://github.com/alvarobartt/investpy.git /tmp/pip-req-build-s6bpcvim
  Running command git checkout -b developer --track origin/developer
  Switched to a new branch 'developer'
  Branch 'developer' set up to track remote branch 'developer' from 'origin'.
Collecting Unidecode>=1.1.1
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 5.2MB/s
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.6/dist-packages (from investpy==1.0) (50.3.2)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.6/dist-packages (from investpy==1.0) (1.18.5)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.6/dist-packages (from investpy==1.0) (1.1.4)
Collecting lxml>=4.4.1
  Downloading https://files.pythonhosted.org/packages/64/28/0b761b64ecbd63d272ed0e7a6ae6e4402fc37886b59181bfdf274424d693/lxml-4.6.1-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 16.8MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.6/dist-packages (from investpy==1.0) (2.23.0)
Collecting pytz>=2019.3
  Downloading https://files.pythonhosted.org/packages/12/f8/ff09af6ff61a3efaad5f61ba5facdf17e7722c4393f7d8a66674d2dbd29f/pytz-2020.4-py2.py3-none-any.whl (509kB)
     |████████████████████████████████| 512kB 41.4MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.1->investpy==1.0) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy==1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy==1.0) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy==1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.22.0->investpy==1.0) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy==1.0) (1.15.0)
Building wheels for collected packages: investpy
  Building wheel for investpy (setup.py) ... done
  Created wheel for investpy: filename=investpy-1.0-cp36-none-any.whl size=4466670 sha256=7b6dbb3e7dc01b5710f9f7c8f20f4035349d0bd2fbcc3d20d1f5954f39009cf7
  Stored in directory: /tmp/pip-ephem-wheel-cache-4ni8nd71/wheels/8b/ac/54/fa4dbb4808e366ad5011a2a09b0a8e86907f0f997dc173c8a9
Successfully built investpy
Installing collected packages: Unidecode, lxml, pytz, investpy
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
  Found existing installation: pytz 2018.9
    Uninstalling pytz-2018.9:
      Successfully uninstalled pytz-2018.9
Successfully installed Unidecode-1.1.1 investpy-1.0 lxml-4.6.1 pytz-2020.4

In [13]:

df = investpy.get_stock_historical_data(stock='BABA',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
print(df)

              Open    High     Low   Close    Volume Currency
Date
2014-09-22   92.70   92.95   89.50   89.89  66657828      USD
2014-09-23   88.94   90.48   86.62   87.17  39009788      USD
2014-09-24   88.47   90.57   87.22   90.57  32088108      USD
2014-09-25   91.09   91.50   88.50   88.92  28597506      USD
2014-09-26   89.73   90.46   88.66   90.46  18339716      USD
...            ...     ...     ...     ...       ...      ...
2019-12-24  215.01  215.43  213.35  214.26   5522987      USD
2019-12-26  214.65  216.99  214.33  216.38   6917445      USD
2019-12-27  217.99  218.11  215.17  215.47  11678669      USD
2019-12-30  215.78  215.78  211.76  212.91   8745942      USD
2019-12-31  212.00  213.64  210.73  212.10   6776071      USD

[1329 rows x 6 columns]

In [14]:
data = investpy.get_crypto_historical_data(crypto='bitcoin', from_date='01/01/2014', to_date='01/01/2019')
print(data)

              Open    High     Low   Close  Volume Currency
Date
2014-01-01   805.9   829.9   771.0   815.9   10757      USD
2014-01-02   815.9   886.2   810.5   856.9   12812      USD
2014-01-03   856.9   888.2   839.4   884.3    9709      USD
2014-01-04   884.3   932.2   848.3   924.7   14239      USD
2014-01-05   924.7  1029.9   911.4  1014.7   21374      USD
...            ...     ...     ...     ...     ...      ...
2018-12-28  3587.1  3900.3  3565.5  3861.6  565237      USD
2018-12-29  3861.6  3899.6  3696.0  3706.8  505408      USD
2018-12-30  3708.2  3837.7  3682.5  3815.0  519173      USD
2018-12-31  3815.1  3819.6  3658.8  3709.4  545825      USD
2019-01-01  3709.5  3814.3  3664.4  3809.4  469107      USD

[1827 rows x 6 columns]

In [15]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [5]:
def convert_to_int(df): 
  col = df.columns
  for col in df: 
    temp = df[col].to_string().replace(',','').split('\n') #     Replace comma with space and clean out extra spaces
    temp.pop(0) #Remove first erronous element
    df.index = pd.to_datetime(df.index) # Convert index to datetime 
    df[col]= [i[10:].strip() for i in temp] # stripping off nth characters
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int) # Transform columns from   object to numeric
  return df
  
def clean_data(is_data):
  Fin_st = pd.DataFrame(is_data[0:])
  Fin_st.columns = Fin_st.iloc[0] # Name columns to first row of dataframe
  Fin_st = Fin_st.iloc[1:,] # start to read 1st row
  Fin_st = Fin_st.T # transpose dataframe
  Fin_st.columns = Fin_st.iloc[0] #Name columns to first row of dataframe
  Fin_st.drop(Fin_st.index[0],inplace=True) #Drop first index row
  Fin_st.index.name = '' # Remove the index name
  Fin_st.rename(index={'ttm': '12/31/2019'},inplace=True) #Rename ttm in index columns to end of the year
  #Fin_st = Fin_st[Fin_st.columns[:-5]] # remove last 5 irrelevant columns
  return Fin_st

def extract_data(url, fin_st):
  read_data = ur.urlopen(url).read()
  soup_is = BeautifulSoup(read_data, 'lxml')
  div = []
  for l in soup_is.find_all('div'):
    # Find all divs in site
    #print(l.string)
    if l.string is not None:
      div.append(str(l.string))
  div = list(filter(None, div))
  #print(div[15:])
  div = div[15:]
  # Add missing values in div
  div[0] = 'Annual'
  if fin_st is 'is':
    div = div[:6] + ['Total Revenue'] + div[6:]
    div = div[:24] + ['Operating Expense'] + div[24:]
    div = div[:36] + ['Net Non Operating Interest Income Expense'] + div[36:]
    div = div[:42] + ['Other Income Expense'] + div[42:]
    div = div[:60] + ['Net Income Common Stockholders'] + div[60:]
  elif fin_st is 'bs':
    div = div[:5] + ['Total Assets'] + div[5:]
    div = div[:10] + ['Total Liabilities Net Minority Interest'] + div[10:]
    div = div[:15] + ['Total Equity Gross Minority Interest'] + div[15:]
  elif fin_st is 'cf':
    div = div[:6] + ['Operating Cash Flow'] + div[6:]
    div = div[:12] + ['Investing Cash Flow'] + div[12:]
    div = div[:18] + ['Financing Cash Flow'] + div[18:]
    div = div[:24] + ['End Cash Position'] + div[24:]
  else:
    return False
  #print(new_ls)
  return div

In [3]:
# Stock symbol
index= 'GOLD'

# URL link 
url_is = 'https://finance.yahoo.com/quote/' + index + '/financials?p=' + index
url_bs = 'https://finance.yahoo.com/quote/' + index +'/balance-sheet?p=' + index
url_cf = 'https://finance.yahoo.com/quote/' + index + '/cash-flow?p='+ index
print(url_is)

https://finance.yahoo.com/quote/GOLD/financials?p=GOLD

In [6]:
##  INCOME STATEMENT

new_ls = extract_data(url_is, 'is')
is_data = list(zip(*[iter(new_ls)]*6))
Income_st = clean_data(is_data)
Income_st

Annual     Total Revenue  ... Tax Effect of Unusual Items
                          ...
12/31/2019    12,199,000  ...                     339,907
12/31/2019     9,717,000  ...                     573,580
12/31/2018     7,243,000  ...                    -296,270
12/31/2017     8,374,000  ...                     224,720
12/31/2016     8,558,000  ...                     -28,355

[5 rows x 31 columns]

In [7]:
##  BALANCE SHEET

new_ls = extract_data(url_bs, 'bs')
is_data = list(zip(*[iter(new_ls)]*5))
Balance_sh = clean_data(is_data)
Balance_sh

Annual     Total Assets  ...                                         Learn more
                         ...
12/31/2019   44,392,000  ...                                  Advertise With Us
12/31/2018   22,631,000  ...                                  Advertise With Us
12/31/2017   25,308,000  ...         © 2020 Verizon Media. All rights reserved.
12/31/2016   25,264,000  ...  Discover new investment ideas by accessing unb...

[4 rows x 15 columns]

In [8]:
##  CASH FLOW

new_ls = extract_data(url_cf, 'cf')
is_data = list(zip(*[iter(new_ls)]*6))
CashFlow_st = clean_data(is_data)
CashFlow_st

Annual     Operating Cash Flow  ... Free Cash Flow
                                ...
12/31/2019           4,654,000  ...      2,700,000
12/31/2019           2,833,000  ...      1,132,000
12/31/2018           1,765,000  ...        365,000
12/31/2017           2,065,000  ...        669,000
12/31/2016           2,640,000  ...      1,514,000

[5 rows x 8 columns]

In [9]:
convert_to_int(Income_st)

Annual      Total Revenue  ...  Tax Effect of Unusual Items
                           ...
2019-12-31       12199000  ...                       339907
2019-12-31        9717000  ...                       573580
2018-12-31        7243000  ...                      -296270
2017-12-31        8374000  ...                       224720
2016-12-31        8558000  ...                       -28355

[5 rows x 31 columns]

In [ ]:
#ratio['effective tax rate']= Income_st['Income Tax Expense']/Income_st['Income Before Tax']